<div class="headline" align="center">workinjamestownnd.com</div>

<!-- Cavendish box -->
<div class='row firstRow'>
  <div class='col-md-3  descbox1'>Cavendish
    <a ng-click="main.cavendish()"><div class='descboxinner' ng-bind= "latestReviews[0]"> </div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ng-click="main.Cavendish()"> More Reviews </button>
  </div>

<!-- Grade 2 box -->
  <div class='col-md-3 col-md-offset-1 descbox2'>UTC
    <a ui-sref="missions"><div class='descboxinner' ng-bind= "latestReviews[1]"> </div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ui-sref="missions"> More Reviews </button>
  </div>

<!-- Grade 3 box -->
  <div class='col-md-3 col-md-offset-1 descbox3'>Newman Signs
    <a ui-sref="missions"><div class='descboxinner' ng-bind= "latestReviews[2]"> </div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ui-sref="missions"> More Reviews </button>
  </div>
</div>

<div class='row'>
<!-- Grade 4 box -->
  <div class='col-md-3 col-md-offset-1 descbox4'>Real Truck
    <a ui-sref="missions"><div class='descboxinner' ng-bind= "latestReviews[3]"></div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ui-sref="missions"> More Reviews </button>
  </div>

<!-- Grade 5 box -->
  <div class='col-md-3 col-md-offset-1 descbox5'>Gavillon
    <a ui-sref="missions"><div class='descboxinner' ng-bind= "latestReviews[4]"></div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ui-sref="missions"> More Reviews </button>
  </div>

<!-- Grade 6 box -->
  <div class='col-md-3 col-md-offset-1 descbox6'>Cargill
    <a ui-sref="missions"><div class='descboxinner' ng-bind= "latestReviews[5]"></div></a>
    <hr>
    <button class="btn btn-lg btn-primary" ui-sref="missions"> More Reviews </button>
  </div>
</div>