<div ng-cloak>
  <div align="center"><img src="../../content/workinjamestownnd.png" class="biglogo" /></div>

  <div class='row firstRow'>
  <!-- Cavendish box -->
    <div class='col-md-3  descbox1'>Cavendish
      <a ng-click="main.cavendish('Cavendish')"><div class='descboxinner' ng-bind-html= "latestReviews.cavendish"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.cavendish('Cavendish')"> More Reviews </button>
    </div>

  <!-- Utc box -->
    <div class='col-md-3 col-md-offset-1 descbox2'>UTC
      <a ng-click="main.utc('Utc')"><div class='descboxinner' ng-bind-html= "latestReviews.utc"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.utc('Utc')"> More Reviews </button>
    </div>

  <!-- Newmansigns box -->
    <div class='col-md-3 col-md-offset-1 descbox3'>Newman Signs
      <a ng-click="main.newmansigns('Newmansigns')"><div class='descboxinner' ng-bind-html= "latestReviews.newmansigns"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.newmansigns('Newmansigns')"> More Reviews </button>
    </div>
  </div>

  <div class='row'>
  <!-- Realtruck box -->
    <div class='col-md-3 col-md-offset-1 descbox4'>Real Truck
      <a ng-click="main.realtruck('Realtruck')"><div class='descboxinner' ng-bind-html= "latestReviews.realtruck"></div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.realtruck('Realtruck')"> More Reviews </button>
    </div>

  <!-- Gavillon box -->
    <div class='col-md-3 col-md-offset-1 descbox5'>Gavillon
      <a ng-click="main.gavillon('Gavillon')"><div class='descboxinner' ng-bind-html= "latestReviews.gavillon"></div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.gavillon('Gavillon')"> More Reviews </button>
    </div>

  <!-- Cargill box -->
    <div class='col-md-3 col-md-offset-1 descbox6'>Cargill
      <a ng-click="main.cargill('Cargill')"><div class='descboxinner' ng-bind-html= "latestReviews.cargill"></div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.cargill('Cargill')"> More Reviews </button>
    </div>
  </div>

  <div class='row'>
    <!-- Walmart -->
    <div class='col-md-3  descbox1'>Walmart
      <a ng-click="main.walmart('Walmart')"><div class='descboxinner' ng-bind-html= "latestReviews.walmart"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.walmart('Walmart')"> More Reviews </button>
    </div>

  <!-- Menard's -->
    <div class='col-md-3 col-md-offset-1 descbox2'>Menard's
      <a ng-click="main.menards('Menards')"><div class='descboxinner' ng-bind-html= "latestReviews.menards"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.menards('Menards')"> More Reviews </button>
    </div>

  <!-- Home of Economy -->
    <div class='col-md-3 col-md-offset-1 descbox3'>Home of Economy
      <a ng-click="main.homeofeconomy('Homeofeconomy')"><div class='descboxinner' ng-bind-html= "latestReviews.homeofeconomy"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.homeofeconomy('Homeofeconomy')"> More Reviews </button>
    </div>
  </div>

     <!-- Hugo's -->
  <div class='row'>
    <div class='col-md-3  col-md-offset-1 descbox4'>Hugo's
      <a ng-click="main.hugos('Hugos')"><div class='descboxinner' ng-bind-html= "latestReviews.hugos"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.hugos('Hugos')"> More Reviews </button>
    </div>

  <!-- Cashwise -->
    <div class='col-md-3 col-md-offset-1 descbox5'>Cashwise
      <a ng-click="main.cashwise('Cashwise')"><div class='descboxinner' ng-bind-html= "latestReviews.cashwise"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.cashwise('Cashwise')"> More Reviews </button>
    </div>

  <!-- NAPA -->
    <div class='col-md-3 col-md-offset-1 descbox6'>NAPA
      <a ng-click="main.napa('Napa')"><div class='descboxinner' ng-bind-html= "latestReviews.napa"> </div></a>
      <hr>
      <button class="btn btn-lg btn-primary" ng-click="main.napa('Napa')"> More Reviews </button>
    </div>
  </div>
  <div align="center">Copyright © 2017, Workinjamestownnd. Workinjamestownnd ® is a registered trademark of Workin, Inc.    <a ui-sref="terms">Terms</a>
  </div>
</div>